html, body {
    height: 100%;
}

body {
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #9193A2;
}

ul {
    list-style: none;
    padding: 0;
}

.header {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background-color: rgb(28, 41, 219);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


.head_nav {
    display: inline-block;
}

.nav_block_link {
    margin-right: 15px;
    color: rgb(241, 241, 241);
}

.nav_block_link:hover {
    text-decoration: underline;
}

.content {
    border-radius: 5px;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.content_h2 {
    font-size: 30;
    margin-bottom: 30px;
}

.main_ul {
    color: #9193A2;
}

li:hover {
    text-decoration: underline;
}