html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(25, 50, 95);
}

a {
    text-decoration: none;
    color: #9193A2;
}

ul {
    list-style: none;
    padding: 0;
}

.header {
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    background-color: #1E2441;
    display: flex;
    margin-bottom: 5px;
}

.head_nav {
    display: inline-block;
}

.nav_block_link {
    margin: 5px 15px;
    color: rgb(241, 241, 241);
}

.nav_block_link:hover {
    text-decoration: underline;
}

.projects {
    padding: 0 10px;
    padding: 15px 50px;
    border-radius: 3px;
}

.content_h2 {
    font-weight: bold;
    font-size: 30;
    margin-bottom: 30px;
    color: white;
}

.main_ul {
    color: #9193A2;
}

.main_li_a:hover {
    display: inline-block;
    padding: 1px;
    border: #9193A2 solid 1px;
    color: white;
}