body {
    background-color: #D6D6D6;
    font-family: Arial;
}

img {
    width: 100%;
    height: auto;
}

.zadanie {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; 
    justify-content: center;
    height: 100%;
    align-content: center;
}

.tovar {
    margin: 10px;
    width: 270px;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px 8px;
    display: flex;
    flex-direction: column;
}

.tovar_h {
    color: #323232;
    font-size: 22px;
    font-weight: bolder;
    padding: 0 10px;
    padding-right: 35px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.tovar_text {
    word-wrap: break-word;
    word-spacing: 1px;
    max-height: 100%;
    color: #b4b4b4;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 20px;
    padding-right: 35px;
    justify-content: center;
    max-height: auto;
}

.tovar_photo {
    margin: 5px auto;
    margin-bottom: 20px;
    height: 50%;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
}

.tovar_photo_img {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
}

.tovar_button {
    align-content: flex-end;
    margin: 10px 0px;
}

.tovar_button_a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    background: linear-gradient(to right, #4673E3, #869EDE);
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #E9EEF9;
    border-style: none;
    
}