body {
    background-color: #D6D6D6;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.zadanie {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 100%;
}

.tovar {
    font-family: sans-serif;
    margin: 5px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px 8px;
    max-height: 360px;
    display: flex;
    flex-direction: column;
}

.tovar_h {
    width: 100%;
    color: #323232;
    font-size: 24px;
    font-weight: bolder;
    padding: 0 10px;
    padding-right: 35px;
    margin-bottom: 10px;
    display: inline-flex;
}

.tovar_text {
    word-spacing: 1px;
    max-height: 100%;
    color: #B7B7B7;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 30px;
    padding-right: 35px;
    justify-content: center;
}

.tovar_photo {
    margin: 5px auto;
    margin-bottom: 20px;
    height: 50%;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
}

.tovar_photo_img {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
}

.tovar_button {
    align-content: flex-end;
    margin: 10px 0px;
}

.tovar_button_a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    background: linear-gradient(to right, #4673E3, #869EDE);
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #E9EEF9;
    border-style: none;
    
}